body {
  background-color: #E8E9E4;
  font-family: Avenir;
  font-size: 18px;
  line-height: 30px;
}

h1, h2 {
  color: #2F4858;
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
  line-height: 15px;
  margin: 20px;
}

h6 {
  color: #2F4858;
  font-family: 'Dancing Script', cursive;
  font-size: 18px;
  line-height: 10px;
  margin: 7px;
}

h3 {
  color: #2F4858;
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  margin: 15px;
}

a {
  color: #F5BB00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 700px;
  margin: 0 auto;
}

p {
  padding: 10px 10px;
}

.card {
  background: white;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 27px ;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
  margin: 5px;

}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }

  td {
    display: block;
    vertical-align: top;
  }

  h6 {
    line-height: 16px;
  }

  h1, h2 {
    line-height: 26px;
  }
}

.img-circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 3px 3px 6px rgba(245, 187, 0, 1);
}

img {
    opacity: 1.0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
img:hover {
    opacity: 0.5;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}​

.list-inline {
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.button {
  border-radius: 10px;
  color: #F5BB00;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  height: 40px;
  width: 200px;
  font-size: 18px;
  line-height: 33px;
 /* text-align: center;
  padding: 0 14px;*/*/
  box-sizing: border-box;
  border: 3px solid rgba(245, 187, 0, 0.9);
  align-self: stretch;
}
